@mixin font($font, $size, $weight, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

header {
  background-color: #fff;
}

.contact {
  &__formContactUs {
    display: flex;
    justify-content: space-evenly;
    padding-top: 78px;
    padding-bottom: 100px;
  }
  .contactUsForm {
    display: flex;
    flex-direction: column;
    &__name {
      @include font("Roboto", 14px, 400, #83a7a5);
      height: 44px;
      width: 510px;
      text-align: left;
      border: 1px solid #c1d3d2;
      padding-left: 10px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    }
    &__Email {
      @include font("Roboto", 14px, 400, #83a7a5);
      height: 44px;
      width: 510px;
      text-align: left;
      border: 1px solid #c1d3d2;
      padding-left: 10px;
      margin-top: 25px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    }
    &__tel {
      @include font("Roboto", 14px, 400, #83a7a5);
      height: 44px;
      width: 510px;
      text-align: left;
      border: 1px solid #c1d3d2;
      padding-left: 10px;
      margin-top: 25px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    }
    &__message {
      @include font("Roboto", 14px, 400, #83a7a5);
      height: 122px;
      width: 510px;
      text-align: left;
      border: 1px solid #c1d3d2;
      padding-left: 10px;
      margin-top: 25px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    }
    &__submit {
      background-color: #6fb048;
      border: 1px solid #6fb048;
      @include font("Montserrat", 13px, 400, #fff);
      width: 192px;
      height: 42px;
      text-align: center;
      border-radius: 5px;
      margin-top: 25px;
    }
  }
}

::placeholder {
  @include font("Roboto", 14px, 400, #83a7a5);
}

.headquarter {
  width: 340px;
  height: 273px;
  border: 2px dashed #c1d3d2;
  &__headLine {
    @include font("Roboto", 22px, 300, #0f5f5c);
    padding-left: 40px;
    padding-top: 37px;
  }
  &__address {
    display: flex;
    padding-top: 26px;
    &_markerIcon {
      padding-left: 40px;
    }
    &_subtitle {
      @include font("Roboto", 15px, 400, #83a7a5);
      padding-left: 13px;
    }
  }
  &__tel {
    display: flex;
    padding-top: 33px;
    &_telIcon {
      padding-left: 40px;
    }
    &_subtitle {
      @include font("Roboto", 15px, 400, #83a7a5);
      padding-left: 10px;
    }
  }
  &__email {
    display: flex;
    padding-top: 16px;
    &_emailIcon {
      padding-left: 40px;
    }
    &_subtitle {
      @include font("Roboto", 15px, 400, #0f5f5c);
      padding-left: 9px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .contact {
    &__formContactUs {
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
      padding-top: 25px;
    }
    .contactUsForm {
      &__message {
        margin-bottom: 20px;
      }
      &__submit {
        margin: auto;
      }
    }
  }

  .headquarter {
    width: 340px;
    height: 273px;
    border: 2px dashed #c1d3d2;
    margin-top: 30px;
  }
}

@media screen and (max-width: 550px) {
  .contact {
    .contactUsForm {
      &__name {
        width: 350px;
      }
      &__Email {
        width: 350px;
      }
      &__tel {
        width: 350px;
      }
      &__message {
        width: 350px;
      }
    }
  }
}
