@mixin font($font, $size, $weight, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.layers {
  &__nomberOne {
    width: 100%;
    height: 659px;
    background-image: url(../images/mastheadLayer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
  }
  &__nomberTwo {
    width: 100%;
    height: 659px;
    background-image: url(../images/headerLayer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
  }
}

.headerLine {
  background-color: #6c8585;
  color: #6c8585;
}

.headLine {
  width: 100%;
  text-align: center;
  top: 160px;
  left: 0;
  &__headLineText {
    @include font("Roboto", 50px, 300, #fff);
    text-align: center;
  }
}

.features {
  &__block {
    padding-top: 98px;
    padding-bottom: 109px;
  }
}

.sectionOurTeam {
  background-color: #eef1ec;
  &__person {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 118px;
    padding-top: 91px;
    &_block {
      width: 300px;
      height: 240px;
    }
    &_personImg {
      width: 300px;
      height: 180px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &_headLine {
      @include font("Roboto", 15px, 500, #0f5f5c);
      padding-top: 18px;
      padding-bottom: 6px;
    }
    &_subtitle {
      @include font("Roboto", 14px, 400, #83a7a5);
    }
  }
}

.callToAction {
  background-image: url(../images/callToAcrionPhotoAboutUs.png);
  &__block {
    top: 105px;
    &_headline {
      @include font("Roboto", 28px, 300, #fff);
    }
    &_subtitle {
      @include font("Roboto", 15px, 400, #fff);
    }
    &_btn {
      background-color: #49732f;
      border: 1px solid #49732f;
    }
  }
}

@media screen and (max-width: 1400px) {
  .callToAction {
    padding-bottom: 135px;
    &__block {
      justify-content: space-around;
      top: 70px;
    }
  }

  .footerTop {
    margin-top: 210px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding-bottom: 0;
  }

  .headLine {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    text-align: center;
    top: 50px;
    &__button {
      padding-top: 23px;
      padding-bottom: 110px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .features {
    &__headLineText {
      padding-top: 30px;
    }
    &__line {
      text-align: center;
    }
    &__subtitleText {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__block {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 33px;
      &_one {
        padding-bottom: 20px;
      }
      &_img {
        text-align: center;
      }
      &_headLineText {
        @include font("Roboto", 16px, 400, #0f5f5c);
        text-align: center;
        padding-top: 28px;
      }
      &_subtitleText {
        @include font("Roboto", 14px, 400, #97b4b3);
        text-align: center;
        padding-top: 23px;
      }
    }
  }

  .callToAction {
    &__block {
      top: 40px;
    }
  }

  .footerTop {
    margin-top: 150px;
  }

  .sectionOurTeam {
    &__person {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
      padding-top: 0;
      &_block {
        width: 300px;
        height: 240px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .headLine {
    top: 0;
    &__headLineText {
      @include font("Roboto", 34px, 400, #fff);
    }
    &__button {
      padding-bottom: 80px;
    }
  }
}

@media screen and (max-width: 830px) {
  .callToAction {
    background-image: none;
    padding-bottom: 50px;
    background-color: #eef1ec;
    &__block {
      text-align: center;
      &_headline {
        @include font("Roboto", 28px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
    }
  }

  .footerTop {
    margin-top: 180px;
  }
}

@media screen and (max-width: 700px) {
  .headLine {
    top: 0;
    &__headLineText {
      @include font("Roboto", 30px, 400, #fff);
    }
    &__button {
      padding-top: 23px;
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 594px) {
  .footerTop {
    margin-top: 180px;
    padding-bottom: 0;
    &__info {
      &_headLine {
        padding-bottom: 0px;
      }
    }
    .contactForm {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 546px) {
  .headLine {
    &__headLineText {
      @include font("Roboto", 26px, 400, #fff);
    }
  }

  .footerTop {
    margin-top: 200px;
  }
}

@media screen and (max-width: 453px) {
  .headLine {
    &__headLineText {
      @include font("Roboto", 20px, 400, #fff);
    }
  }

  .callToAction {
    &__block {
      &_headline {
        @include font("Roboto", 24px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 388px) {
  .callToAction {
    &__block {
      &_headline {
        @include font("Roboto", 22px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 356px) {
  .callToAction {
    &__block {
      &_headline {
        @include font("Roboto", 20px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
    }
  }
}
