@mixin font($font, $size, $weight, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

header {
  background-color: #eef1ec;
  padding-bottom: 0;
}

.header {
  &__logo {
    color: #0f5f5c;
  }

  &__phone {
    &_nomber {
      @include font("Montserrat", 13px, 400, #97b4b3);
    }
  }
}

.nav {
  &__menu {
    @include font("Montserrat", 13px, 400, #97b4b3);
  }
  &__button {
    @include font("Montserrat", 12px, 400, #fff);
    background-color: #6fb048;
    border: 1px solid #6fb048;
  }
  &__menu:hover {
    color: #6fb048;
  }
}

.headerLine {
  background-color: #b8ccc8;
  color: #b8ccc8;
}

.masthead {
  background-color: #eef1ec;
  &__subtitleText {
    @include font("Roboto", 15px, 400, #97b4b3);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 62px;
  }
}

.features {
  &__subtitleText {
    padding-top: 24px;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    &__logo {
      padding-left: 15px;
    }
  }

  .nav {
    &__button {
      margin-right: 15px;
    }
  }

  .headerLine {
    width: 98%;
  }

  .headLine {
    left: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .features {
    &__headLineText {
      padding-top: 30px;
      @include font("Roboto", 28px, 300, #0f5f5c);
    }
    &__line {
      text-align: center;
    }
    &__subtitleText {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__block {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 33px;
      &_one {
        padding-bottom: 20px;
      }
      &_img {
        text-align: center;
      }
      &_headLineText {
        @include font("Roboto", 16px, 400, #0f5f5c);
        text-align: center;
        padding-top: 28px;
      }
      &_subtitleText {
        @include font("Roboto", 14px, 400, #97b4b3);
        text-align: center;
        padding-top: 23px;
      }
    }
  }

  .others {
    &__lines {
      display: none;
    }
    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
      &_one {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
      }
      &_two {
        display: flex;
        flex-direction: column;
      }
      &_three {
        width: 100%;
        height: 95px;
        display: flex;
        flex-direction: column;
      }
      &_threeMargin {
        margin-top: 30px;
      }
      &_four {
        display: flex;
        justify-content: center;
      }
      &_img {
        padding-left: 10px;
      }
      &_headLineText {
        @include font("Roboto", 16px, 400, #0f5f5c);
        padding-left: 23px;
        padding-top: 5px;
      }
      &_subtitleText {
        @include font("Roboto", 14px, 400, #97b4b3);
        padding-top: 21px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .pricing {
    &__block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 40px;
    }
    &__blockTwo {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_columnTwo {
        padding-bottom: 20px;
      }
      &_columnTwoMarker {
        margin-left: 24px;
      }
      &_columnThreeMarker {
        margin-left: 15px;
      }
    }
    &__help {
      &_img {
        padding-top: 0;
      }
      &_support {
        @include font("Roboto", 18px, 300, #0f5f5c);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .nav {
    &__menu {
      color: #fff;
      padding-right: 0;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 830px) {
  .pricing {
    &__block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 40px;
    }
    &__blockTwo {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_columnTwo {
        padding-bottom: 20px;
      }
      &_columnTwoMarker {
        margin-left: 24px;
      }
      &_columnThreeMarker {
        margin-left: 15px;
      }
    }
    &__help {
      &_img {
        padding-top: 0;
      }
      &_support {
        @include font("Roboto", 18px, 300, #0f5f5c);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 25px;
      }
    }
  }
}

@media screen and (max-width: 594px) {
  .features {
    &__headLineText {
      @include font("Roboto", 24px, 300, #0f5f5c);
    }
  }
}
