* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(../fonts/ProximaNovaBold.otf);
}

@import url("https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:400,700|Roboto:300,400,500");

@mixin font($font, $size, $weight, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

header {
  width: 100%;
  padding-bottom: 190px;
  overflow: hidden;
}

.layers {
  &__nomberOne {
    width: 100%;
    height: 659px;
    background-image: url(../images/Layer2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
  }
  &__nomberTwo {
    width: 100%;
    height: 659px;
    background-image: url(../images/Layer1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    opacity: 0.1;
  }
  &__nomberThree {
    width: 100%;
    height: 659px;
    background-image: url(../images/Layer3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
  }
}
.header {
  &__menu {
    width: 100%;
    height: 85px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &_text {
      display: flex;
    }
  }
  &__logo {
    font-family: ProximaNovaBold;
    font-size: 29px;
    color: #ffffff;
    padding-left: 223px;
    padding-right: 25px;
  }
  &__slash {
    padding-top: 7px;
  }
  &__phoneIcon {
    padding-left: 26px;
    padding-right: 7px;
    padding-top: 10px;
  }
  &__phone {
    &_nomber {
      @include font("Montserrat", 13px, 400, #fff);
      padding-top: 9px;
    }
  }
}

.smartMenu {
  display: none;
}

.iconMenu {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  display: none;
}

.nav {
  &__menu {
    @include font("Montserrat", 13px, 400, #bdc8c8);
    padding-right: 31px;
    text-decoration: none;
  }
  &__button {
    @include font("Montserrat", 12px, 400, #fff);
    background-color: #6a7f7f;
    border: 1px solid #6a7f7f;
    padding: 12px 14px 11px 13px;
    margin-right: 223px;
    cursor: pointer;
  }
  &__menu:hover {
    color: #fff;
  }
}

.headerLine {
  width: 77%;
  margin: auto;
  height: 1px;
  border: none;
  background-color: #eef1ec;
  color: #eef1ec;
  position: relative;
}

.headLine {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 158px;
  left: 223px;
  &__headLineText {
    @include font("Roboto", 38px, 400, #fff);
  }
  &__subtitleText {
    @include font("Roboto", 16px, 400, #fff);
    padding-top: 22px;
  }
  &__button {
    padding-top: 23px;
    padding-bottom: 198px;
    &_fonts {
      @include font("Montserrat", 14px, 400, #fff);
      background-color: #6fb048;
      border: 1px solid #6fb048;
      padding: 20px 45px 20px 44px;
      cursor: pointer;
    }
  }
}

.features {
  &__headLineText {
    @include font("Roboto", 32px, 300, #0f5f5c);
    width: 100%;
    text-align: center;
    padding-top: 98px;
  }
  &__line {
    text-align: center;
    padding-bottom: 21px;
  }
  &__subtitleText {
    @include font("Roboto", 15px, 400, #97b4b3);
    text-align: center;
  }
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    padding-top: 73px;
    padding-bottom: 33px;
    &_one {
      width: 305px;
      height: 175px;
    }
    &_img {
      text-align: center;
    }
    &_headLineText {
      @include font("Roboto", 16px, 400, #0f5f5c);
      text-align: center;
      padding-top: 28px;
    }
    &_subtitleText {
      @include font("Roboto", 14px, 400, #97b4b3);
      text-align: center;
      padding-top: 23px;
    }
  }
  .others {
    &__lines {
      text-align: center;
      padding-bottom: 52px;
    }
    &__block {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-bottom: 129px;
      &_one {
        display: flex;
        flex-direction: column;
      }
      &_two {
        display: flex;
        flex-direction: column;
      }
      &_three {
        width: 475px;
        height: 95px;
        display: flex;
        flex-direction: column;
      }
      &_threeMargin {
        margin-top: 60px;
      }
      &_four {
        display: flex;
      }
      &_img {
        padding-left: 10px;
      }
      &_headLineText {
        @include font("Roboto", 16px, 400, #0f5f5c);
        padding-left: 23px;
        padding-top: 5px;
      }
      &_subtitleText {
        @include font("Roboto", 14px, 400, #97b4b3);
        padding-top: 21px;
      }
    }
  }
}

.section {
  width: 100%;
  background-color: #eef1ec;
  &__screenAndText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &_screen {
      padding-top: 20px;
    }
    &_blockOne {
      width: 490px;
      display: flex;
      flex-direction: column;
      padding-bottom: 70px;
      padding-left: 100px;
    }
    &_headLine {
      @include font("Roboto", 32px, 300, #0f5f5c);
      padding-top: 150px;
    }
    &_subtitle {
      @include font("Roboto", 14px, 400, #97b4b3);
      padding-top: 17px;
      line-height: 25px;
    }
    &_checkIcon {
      display: flex;
      padding-top: 22px;
    }
    &_checkIconText {
      @include font("Roboto", 14px, 400, #97b4b3);
      padding-left: 12px;
      padding-top: 3px;
    }
  }
}

.testimonials {
  width: 100%;
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 140px;
    &_text {
      display: flex;
      flex-direction: column;
      width: 500px;
      padding-right: 153px;
    }
    &_headLineText {
      @include font("Merriweather", 22px, 300, #97b4b3);
      padding-top: 100px;
    }
    &_subtitle {
      @include font("Roboto", 14px, 500, #97b4b3);
    }
    &_colorGreen {
      color: #6fb048;
      padding-top: 28px;
      padding-bottom: 11px;
    }
    &_img {
    }
  }
}

.sectionTwo {
  width: 100%;
  background-color: #eef1ec;
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 62px;
    padding-bottom: 61px;
    width: 100%;
    &_text {
      display: flex;
      flex-direction: column;
      width: 490px;
    }
    &_headLine {
      @include font("Roboto", 32px, 300, #0f5f5c);
      padding-bottom: 20px;
      padding-top: 65px;
    }
    &_subtitle {
      @include font("Roboto", 14px, 400, #97b4b3);
      padding-bottom: 50px;
    }
    &_img {
      background-image: url(../images/map.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.pricing {
  &__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    &_plan {
      width: 255px;
      height: 390px;
      border: 1px solid #c1d3d2;
    }
    &_headLine {
      @include font("Roboto", 15px, 500, #6fb048);
      text-align: center;
      padding-top: 29px;
      padding-bottom: 10px;
    }
    &_price {
      @include font("Montserrat", 65px, 700, #0f5f5c);
      text-align: center;
    }
    &_month {
      @include font("Roboto", 14px, 400, #0f5f5c);
      text-align: center;
    }
    &_name {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 26px;
    }
    &_fontsName {
      @include font("Roboto", 14px, 400, #97b4b3);
      padding-bottom: 14px;
    }
    &_button {
      margin-top: 20px;
      text-align: center;
    }
    &_btn {
      @include font("Montserrat", 13px, 400, #fff);
      background-color: #83a7a5;
      border: 1px solid #83a7a5;
      padding: 16px 25px 15px 25px;
      cursor: pointer;
    }
    &_btn:hover {
      background-color: #6fb048;
    }
  }
  &__blockTwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &_columnOne {
      display: flex;
    }
    &_columnOneText {
      @include font("Roboto", 14px, 400, #97b4b3);
      padding-top: 4px;
      padding-left: 10px;
    }
  }
  &__help {
    &_img {
      text-align: center;
      padding-top: 54px;
    }
    &_headLine {
      @include font("Roboto", 32px, 300, #6fb048);
      text-align: center;
    }
    &_support {
      @include font("Roboto", 18px, 300, #0f5f5c);
      text-align: center;
      padding-top: 40px;
      padding-bottom: 97px;
    }
  }
}

.callToAction {
  width: 100%;
  background-image: url(../images/callToActionPhoto.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  padding-bottom: 200px;
  &__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 115px;
    &_headline {
      @include font("Roboto", 28px, 300, #0f5f5c);
    }
    &_subtitle {
      @include font("Roboto", 15px, 400, #97b4b3);
    }
    &_btn {
      @include font("Roboto", 15px, 400, #fff);
      background-color: #6fb048;
      border: 1px solid #6fb048;
      padding: 16px 23px 16px 22px;
      cursor: pointer;
    }
  }
}

.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 355px;
  &__info {
    width: 186px;
    &_headLine {
      font-family: ProximaNovaBold;
      font-size: 22px;
      color: #0f5f5c;
      padding-bottom: 19px;
    }
    &_navigation {
      @include font("Roboto", 13px, 300, #97b4b3);
    }
    &_email {
      @include font("Roboto", 13px, 300, #97b4b3);
    }
    &_colorSpan {
      color: #0f5f5c;
    }
    &_tel {
      @include font("Roboto", 13px, 300, #97b4b3);
      padding-top: 16px;
      padding-bottom: 15px;
    }
    &_address {
      @include font("Roboto", 13px, 300, #97b4b3);
      padding-bottom: 7px;
    }
    &_addressTwo {
      @include font("Roboto", 13px, 300, #97b4b3);
      padding-left: 13px;
    }
    &_headLineSize {
      @include font("Roboto", 13px, 700, #0f5f5c);
      padding-top: 8px;
    }
  }
  &__submit {
    &_text {
      @include font("Roboto", 13px, 300, #97b4b3);
      padding-top: 12px;
    }
  }
}

.navTop {
  padding-top: 5px;
  &__menu {
    @include font("Roboto", 13px, 400, #97b4b3);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 17px;
  }
  &__menu:hover {
    color: green;
  }
}

.contactUsForm {
  &__email {
    @include font("Roboto", 13px, 400, #83a7a5);
    height: 36px;
    width: 239px;
    text-align: left;
    margin-top: 21px;
    background-color: #eef1ec;
    border: 1px solid #eef1ec;
    padding-left: 17px;
    border-radius: 5px;
  }
}

.iconEmail {
  background-image: url(../images/emilIcon.png);
  background-repeat: no-repeat;
  background-position: 225px;
}

::placeholder {
  @include font("Roboto", 13px, 400, #83a7a5);
}

.line {
  width: 77%;
  margin: auto;
  height: 1px;
  border: none;
  background-color: #eef1ec;
  color: #eef1ec;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  &__copyright {
    @include font("Roboto", 12px, 400, #83a7a5);
    padding-top: 30px;
  }
  &__socialLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 19px;
    padding-bottom: 16px;
    &_img {
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .callToAction {
    &__block {
      justify-content: space-around;
      top: 70px;
    }
  }

  .footerTop {
    margin-top: 210px;
  }
}

@media screen and (max-width: 1250px) {
  .header {
    &__logo {
      padding-left: 15px;
    }
  }

  .nav {
    &__button {
      margin-right: 15px;
    }
  }

  .headerLine {
    width: 98%;
  }

  .headLine {
    left: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .testimonials {
    width: 100%;
    &__block {
      padding-top: 0;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
      &_text {
        display: flex;
        flex-direction: column;
        width: 500px;
        padding-right: 0;
      }
      &_headLineText {
        @include font("Merriweather", 22px, 300, #97b4b3);
        padding-top: 30px;
      }
      &_subtitle {
        @include font("Roboto", 14px, 500, #97b4b3);
      }
      &_colorGreen {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &_img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .section {
    &__screenAndText {
      &_blockOne {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    padding-bottom: 0;
  }

  .headLine {
    top: 40px;
  }

  .features {
    &__headLineText {
      padding-top: 30px;
    }
    &__line {
      text-align: center;
    }
    &__subtitleText {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__block {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 33px;
      &_one {
        padding-bottom: 20px;
      }
      &_img {
        text-align: center;
      }
      &_headLineText {
        @include font("Roboto", 16px, 400, #0f5f5c);
        text-align: center;
        padding-top: 28px;
      }
      &_subtitleText {
        @include font("Roboto", 14px, 400, #97b4b3);
        text-align: center;
        padding-top: 23px;
      }
    }
    .others {
      &__lines {
        display: none;
      }
      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        &_one {
          display: flex;
          flex-direction: column;
          padding-bottom: 30px;
        }
        &_two {
          display: flex;
          flex-direction: column;
        }
        &_three {
          width: 100%;
          height: 95px;
          display: flex;
          flex-direction: column;
        }
        &_threeMargin {
          margin-top: 30px;
        }
        &_four {
          display: flex;
          justify-content: center;
        }
        &_img {
          padding-left: 10px;
        }
        &_headLineText {
          @include font("Roboto", 16px, 400, #0f5f5c);
          padding-left: 23px;
          padding-top: 5px;
        }
        &_subtitleText {
          @include font("Roboto", 14px, 400, #97b4b3);
          padding-top: 21px;
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .section {
    width: 100%;
    background-color: #eef1ec;
    &__screenAndText {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &_screen {
        display: none;
      }
      &_blockOne {
        width: 490px;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        padding-left: 0;
      }
      &_headLine {
        @include font("Roboto", 25px, 300, #0f5f5c);
        padding-top: 30px;
        text-align: center;
      }
    }
  }

  .sectionTwo {
    width: 100%;
    background-color: #eef1ec;
    &__block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 100%;
      &_text {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        width: 100%;
        padding-right: 10px;
      }
      &_headLine {
        @include font("Roboto", 32px, 300, #0f5f5c);
        padding-bottom: 20px;
        padding-top: 0;
        text-align: center;
      }
      &_subtitle {
        @include font("Roboto", 14px, 400, #97b4b3);
        padding-bottom: 0;
      }
      &_img {
        background-image: none;
        width: 0%;
      }
    }
  }

  .callToAction {
    &__block {
      top: 40px;
    }
  }

  .footerTop {
    margin-top: 150px;
  }
}

@media screen and (max-width: 850px) {
  .headerLine {
    display: none;
  }

  .headLine {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    text-align: center;
    &__button {
      padding-top: 23px;
      padding-bottom: 110px;
    }
  }

  .iconMenu {
    display: block;
  }

  .smartMenu:checked ~ .nav {
    margin-right: 0;
    transition: 1s;
    margin-top: 10px;
    font-size: 16px;
  }

  .nav {
    margin-right: -130px;
    transition: 1s;
    margin-top: 10px;
    font-size: 15px;
    &__menu {
      display: block;
      position: relative;
      top: 95px;
      width: 130px;
      background-color: #000000c2;
      color: #fff;
      right: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: center;
      padding-right: 0;
      z-index: 2;
    }
    &__button {
      display: none;
    }
  }
}

@media screen and (max-width: 830px) {
  .pricing {
    &__block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 40px;
    }
    &__blockTwo {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_columnTwo {
        padding-bottom: 20px;
      }
      &_columnTwoMarker {
        margin-left: 24px;
      }
      &_columnThreeMarker {
        margin-left: 15px;
      }
    }
    &__help {
      &_img {
        padding-top: 0;
      }
      &_support {
        @include font("Roboto", 18px, 300, #0f5f5c);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 25px;
      }
    }
  }

  .callToAction {
    background-image: none;
    padding-bottom: 50px;
    background-color: #eef1ec;
    &__block {
      text-align: center;
      &_headline {
        @include font("Roboto", 28px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
      &_btn {
      }
    }
  }

  .footerTop {
    margin-top: 180px;
  }
}

@media screen and (max-width: 770px) {
  .pricing {
    &__block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 0;
      &_plan {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    width: 100%;
    padding-bottom: 0;
    background-color: #0f5f5c;
  }

  .layers {
    &__nomberOne {
      display: none;
    }
    &__nomberTwo {
      display: none;
    }
    &__nomberThree {
      display: none;
    }
  }

  .headLine {
    &__button {
      padding-top: 23px;
      padding-bottom: 30px;
    }
  }
}

@media screen and (max-width: 594px) {
  .section {
    width: 100%;
    &__screenAndText {
      &_blockOne {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
      &_headLine {
        @include font("Roboto", 32px, 300, #0f5f5c);
        text-align: center;
      }
    }
  }

  .footerTop {
    margin-top: 180px;
    padding-bottom: 0;
    &__info {
      &_headLine {
        padding-bottom: 0;
      }
    }
    .contactForm {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 546px) {
  .headLine {
    &__headLineText {
      @include font("Roboto", 30px, 400, #fff);
    }
  }

  .testimonials {
    &__block {
      &_text {
        width: 100%;
      }
      &_headLineText {
        @include font("Merriweather", 18px, 300, #97b4b3);
      }
      &_img {
        display: none;
      }
    }
  }

  .sectionTwo {
    &__block {
      &_headLine {
        @include font("Roboto", 27px, 300, #0f5f5c);
        padding-bottom: 20px;
        padding-top: 0;
      }
      &_subtitle {
        @include font("Roboto", 14px, 400, #97b4b3);
        padding-bottom: 0;
      }
    }
  }

  .footerTop {
    margin-top: 200px;
  }
}

@media screen and (max-width: 472px) {
  .section {
    &__screenAndText {
      &_checkIcon {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 453px) {
  .header {
    &__menu {
      &_text {
        display: flex;
        flex-direction: column;
      }
    }
    &__slash {
      display: none;
    }
    &__phoneIcon {
      display: none;
    }
    &__phone {
      &_nomber {
        padding-left: 10px;
        padding-top: 5px;
      }
    }
  }

  .sectionTwo {
    &__block {
      &_headLine {
        @include font("Roboto", 23px, 300, #0f5f5c);
        padding-bottom: 20px;
        padding-top: 0;
      }
      &_subtitle {
        @include font("Roboto", 14px, 400, #97b4b3);
        padding-bottom: 0;
      }
    }
  }

  .callToAction {
    &__block {
      &_headline {
        @include font("Roboto", 24px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
      &_btn {
      }
    }
  }
}

@media screen and (max-width: 388px) {
  .sectionTwo {
    &__block {
      &_headLine {
        @include font("Roboto", 20px, 300, #0f5f5c);
        padding-bottom: 20px;
        padding-top: 0;
      }
      &_subtitle {
        @include font("Roboto", 14px, 400, #97b4b3);
        padding-bottom: 0;
      }
    }
  }

  .callToAction {
    &__block {
      &_headline {
        @include font("Roboto", 22px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
      &_btn {
      }
    }
  }
}

@media screen and (max-width: 356px) {
  .callToAction {
    &__block {
      &_headline {
        @include font("Roboto", 20px, 300, #0f5f5c);
      }
      &_subtitle {
        @include font("Roboto", 15px, 400, #97b4b3);
        padding-bottom: 20px;
      }
      &_btn {
      }
    }
  }
}
